api.reroute.app {
    reverse_proxy api:8000
}

sign.reroute.app {
    reverse_proxy docuseal:3000
}

metrics.reroute.app {
    reverse_proxy grafana:3000
    basicauth { admin {$GRAFANA_PASSWORD} }
}
